.upload-container {
    width: 100%;
    padding-top: 25px;
}

.upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #BDBFC7;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
}

.upload-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-text {
    font-size: 14px;
    color: #BDBFC7;
    font-weight: 400;
}

.upload-text span {
    color: #405189;
    font-size: 14px;
    font-weight: 600;
}

.file-input {
    display: none;
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .upload-container {
        padding-top: 20px;
    }

    .upload-label {
        padding: 17px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .upload-container {
        padding-top: 14px;
    }

    .upload-content img {
        width: 25%;
    }

    .upload-content p {
        font-size: 10px;
    }

    .upload-content span{
        font-size: 10px;
    }

    .upload-label {
        padding: 20px 0px;
    }
}