.loginpage {
    width: 100%;
    height: 100vh;
    display: flex;
}

.loginpage-img {
    width: 50%;
    background-color: #EEF7FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginpage-img img {
    width: 500px;
    height: 500px;
}

.loginpage-content {
    font-family: "Poppins", serif;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginpage-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginpage-div h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #405189;
    text-align: center;
    padding-bottom: 20px;
}

.form {
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", serif;
}

.input1 {
    border: 1.5px solid #BDBFC7;
}

.form p {
    font-size: 16px;
}

.form input {
    padding: 10px 20px;
    border-radius: 5px;
}

.form button {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 600;
    color: #F9FAFC;
    background-color: #405189;
    border: none;
    border-radius: 10px;
}

.loginpage-div input {
    font-size: 14px;
    color: #BDBFC7;
}

.p2 {
    text-align: center;
    font-size: 16px;
    color: #405189;
}

.span {
    color: #606A72;
}

.verify {
    border: 2px solid #BDBFC7;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.verify input {
    border: none;
}

.verify input:hover {
    border: #BDBFC7;
}

.icon {
    font-size: 24px;
    padding-right: 10px;
    color: #405189;
}

.otp {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.otp input {
    width: 7px;
    height: 30px;
    /* box-sizing: border-box; */
    border: 2px solid #BDBFC7;
}

@media (max-width: 1024px) {
    .loginpage-img img {
        width: 400px;
        height: 400px;
    }

    .loginpage-div h1 {
        font-weight: 600;
        font-size: 30px;
        padding-bottom: 10px;
    }

    .p2 {
        font-size: 20px;
    }

    .form {
        width: 270px;
    }

    .loginpage-div input {
        font-size: 12px;
    }

    .form button {
        font-size: 22px;
    }

    .otp {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .otp input {
        width: 15px;
        height: 15px;
        padding: 10px 10px;
        text-align: center;
    }

    .form p {
        font-size: 12px;
    }

    .input1 {
        font-size: 12px;
    }

}


@media (max-width: 768px) {
    .loginpage-img img {
        width: 300px;
        height: 300px;
    }

    .loginpage-div h1 {
        font-weight: 500;
        font-size: 20px;
        padding: 0px;
    }

    .form {
        width: 230px;
    }

    .loginpage-div input {
        font-size: 10px;
    }

    .form button {
        font-size: 20px;
    }


    .otp {
        gap: 5px;

    }

    .otp input {
        width: 10px;
        height: 10px;
        padding: 10px 10px;
        text-align: center; 
    }

    .form p {
        font-size: 8px;
    }

    .input1 {
        font-size: 8px;
    }


}